:root {
  --primary: #2222d5;
  --title: #f5f5f5;
}

nav {
  background: var(--primary);
  font-weight: bold;
}
nav a {
  text-transform: uppercase;
  color: var(--title);
}
nav a span {
  font-weight: bold;
}
nav .sidenav-trigger {
  margin: 0;
}

.tasks,
.home,
.contractors,
.projects,
.supplies {
  margin-top: 20px;
}

.home-card-panel {
  border-radius: 10px;
  font-weight: bold;
  font-size: 1.5rem;
  color: #2222d5;
  padding: 1em 0;
}

.side-links {
  color: #2222d5;
}

.card-panel.task {
  border-radius: 10px;
  padding: 10px;
  display: grid;
  grid-template-columns: 8fr 1fr 1fr;
  position: relative;
}

.home-container{
  text-align: center;
}

.task-detail div {
  margin-bottom: 0.25em;
}

.task-delete {
  position: absolute;
  bottom: 3px;
  right: 3px;
}
.task-delete i {
  font-size: 2rem;
}

.task-title {
  font-weight: bold;
}


form .input-field {
  margin-top: 30px;
}